{% if latest_poll_list %}
    <p><b><a href="{% url 'polls:index' %}">Brief Index</a></b></p>    
    <ul>
    {% for poll in latest_poll_list %}
        <li><a href="{% url 'polls:detail' poll.id %}">
            {{ poll.question }}
        </a></li>
        <ul>
          {% for choice in poll.choice_set.all %}
          <li>{{ choice.choice_text }} &mdash; 
              {{ choice.votes }} vote{{ choice.votes|pluralize }}
          </li>
          {% endfor %}
        </ul>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
