{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<script src="{% static 'polls/js/jquery.js' %}"></script>
<script src="{% static 'polls/js/polls.js' %}"></script>


{% if latest_poll_list %}
    <p><b><a href="{% url 'polls:detailed_index' %}">Detailed Index</a></b></p>

    <h1>Polls</h1>

    <ul>
    {% for poll in latest_poll_list %}
        <li><a href="javascript:load_poll({{ poll.id }}, 
                     '{% static 'polls/test.html' %}')">
            {{ poll.question }}
        </a><span id="poll_{{ poll.id }}_details"></span></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
